<html>
<head>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
	<link rel=stylesheet
		type=text/css
		href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

		<nav class="navbar navbar-dark bg-dark justify-content-between">
				<a class="navbar-brand" href="/">GR8EST</a>
				<form class="form-inline">
					<a class="btn btn-outline-success my-2 my-sm-0"
						href="/gdisconnect" role="button">Logout</a>
				</form>
		</nav>

<center>
<h1>Edit Legend</h1>
</center>
<div class="pane">
<form action="{{ url_for('editLegend',activity_id = activity_id,
	legend_id=legend.id)}}" method = 'post'>

<dl>
    <dt>Name:</dt>
		<dd><input type ='text' size='30'
				name='name' placeholder = '{{legend.name}}'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5'
				cols='40' placeholder = '{{legend.description}}'> </textarea></dd>
	<dt>Salary:</dt>
		<dd><input type = 'text' size = '15' name='salary'
				placeholder = '{{legend.salary}}'></dd>
	<dt>Stats:</dt>
		<dd><input type ='text' size = '50' name='stats'
				placeholder = '{{legend.stats}}'></dd>

</dl>

<input type='submit' value='Edit'>

<a href = '{{url_for('showActivities', activity_id = activity_id)}}'> Cancel </a>
</form>
</div>
</body>
</html>
