<html>
    <head>

        <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link rel=stylesheet
            type=text/css
            href="{{ url_for('static', filename='styles.css') }}">

        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      
        <script src="//apis.google.com/js/platform.js?onload=start"></script>
      
      <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
      
      
    </head>
      
      
    <body>  

        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" href="/">GR8EST</a>
            <form class="form-inline">
                <a class="btn btn-primary" href="/login" role="button">Login</a>
            </form>
        </nav>
      
      
      <!-- GOOGLE PLUS SIGN IN-->
      <center>
        <div class="goog">
            <div id="signinButton">
                <span class="g-signin"
                  data-scope="openid email"
                  data-clientid="162366882171-9ep1v9779u29ur3lmomtop8rshf8086b.apps.googleusercontent.com"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback">
                </span>
            </div>
        </div>   
    </center>
      
      <div id="result"></div>
      
      <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
            // Hide the sign-in button when user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, 
            //write an 'it worked' message to the web page and then redirect back to the main page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function(result) {
                    if (result) {
                        $('#result').html('It worked, transfering to proper page')
                        setTimeout(function() {
                            window.location.href = "/activity";}, 4000);} 
                    else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);}
            else {
                $('#result')
                .html('Failed to make a server-side call. Check your configuration and console.');}
                }
                
            }); } }
      </script>
      
      
      
</body>
      
</html>